@model decimal

<div class="modal-content">

    <div class="modal-body">
        <p>
            Итого: <span id="amountToPay">@Model</span> грн.
        </p>
        <input type="number" id="textId" placeholder="Введите полученную сумму" onchange="" onkeyup=" textChanged() " />
        <p>
            Стача: <span id="amountToChange">0.00</span> грн.
        </p>

        <input type="button" value="Оплаченно" disabled />
        <input type="button" value="Отмена" />
    </div>
</div>

<script>
    function textChanged() {
        var amountToPay = document.getElementById("amountToPay").innerHTML;
        var amoutToChange = document.getElementById("amoutToChange");
        var textId = document.getElementById("textId").value;

        textId = textId.replace(",", ".");

        amountToChange.innerHTML = textId - amountToPay;

    }
</script>
