@using System.Web.Script
@model decimal

<div class="modal-content">

    <div class="modal-body">
        <p>
            Итого: <span id="amountToPay">@Model</span> грн.
        </p>
        <input type="number" id="textId" placeholder="Введите полученную сумму" onchange="" onkeyup=" textChanged() " autofocus="" />
        <p>
            Стача: <span id="amountToChange">0.00</span> грн.
        </p>

        @using (Ajax.BeginForm("CreateBill", "Sale", new AjaxOptions { UpdateTargetId = "selectedProducts" }))
        {
            <input type="submit" value="Чек оплачен" id="payed" onclick="payedFunc()" disabled />
        }

        <input type="button" value="Отмена" id="cancel" onclick="cancelFunc()"/>
    </div>
</div>
