@{
    ViewBag.Title = "BillCancellation";
}

<p>Критерии поиска</p>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "mainContent" }))
{
    <input type="text" value="" id="searchBySum" placeholder="Поиск по сумме чека" />
    <input type="text" value="" id="searchByProduct" placeholder="Поиск по названию продукта" />
    <input type="date" id="searchByDay" placeholder="Поиск по дням"/>
    <input type="submit" value="Search"/>
    
}
<hr />

<p>Результат поиска</p>
<div class="row">
    <div class="col-sm-6 col-md-6"></div>
    <table class="table ">
        <tr>
            <td>Дата</td>
            <td>Сумма</td>
            <td>Чек включает</td>
            <td>Действие</td>
        </tr>
        <tbody id="mainContent">
            @{ Html.RenderAction("DefaultSearchResult");}
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>