@model IEnumerable<BoublikSystem.Entities.Bill>

@foreach (var item in Model)
{
    <tr>
        <td>@item.DataTime</td>
        <td>@item.Amount</td>
        <td>
            @{
                var products = item.Products.ToList();

                for (int i = 0; i < products.Count; i++)
                {
                    <span>@string.Format(" [" + products[i].Product.Name + "] ")</span>

                    if (i == 2)
                    {
                        <span>...</span>
                        break;
                    }
                }
            }
        </td>
        <td>@using (Ajax.BeginForm("CancelBill", new {billId = item.Id}, new AjaxOptions{ UpdateTargetId = "mainContent"}, new {}))
            {
                <input type="submit" value="Отменить чек" onclick="return confirm('Вы действительно хотите отменить чек?')"/>   
            }
        </td>
    </tr>
}

<script>

</script>